# Example of a `.gitattributes` file which reclassifies `.rb` files as Java:
*.jmd linguist-language=Julia

*.html linguist-detectable=false
*.htm inguist-detectable=false

*.html    linguist-generated=true
*.htl    linguist-generated=true
